extends ../../layouts/default.pug

block main 

    if(product.TITLE)
        h1(class="mb-4") #{product.TITLE}

    if(product.CATEGORY)
        div(class="mb-4") Danh mục:  <b>#{product.CATEGORY}</b>

    if(product.PRICE)
        div(class="mb-4") Giá: <b>#{product.PRICE}đ</b>

    if(product.DISCOUNT)
        div(class="mb-4") Giảm giá: <b>#{product.DISCOUNT*100}%</b>
    
    if(product.QUANTITY)
        div(class="mb-4") Còn lại: <b>#{product.QUANTITY}</b>
    
    if(product.THUMBNAIL)
        div(class="mb-4")
            img(
                src=product.THUMBNAIL 
                style="width: 100px"
            )

    if(product.STATUS)
        div(class="mb-4")
            span Trạng thái: 
            if(product.STATUS=="Active")
                span(class="badge badge-success") Hoạt động
            else 
                span(class="badge badge-danger") Dừng hoạt động

    if(product.DESCRIPTION)
        div(class="mb-4") !{product.DESCRIPTION}
    a(
        href=`${prefixAdmin}/products/update/${product.SLUG}`
        class="btn btn-warning btn-sm") Chỉnh sửa