extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    //- if(role.permissions.includes("products_update"))
    h1(class="mb-4") Chỉnh sửa sản phẩm

    +alert-success(3000)
    +alert-error(3000)
    
    form(
        action=`${prefixAdmin}/products/update/${product.SLUG}?_method=PATCH`
        id="form-update-product"
        method="POST"
    )
        div(class="form-group")
            lable(for="title") Tiêu đề
            input(
                type="text"
                class="form-control long-input"
                id="title"
                name="title"
                value = product.TITLE
            )
        
        div(class="form-group")
            lable(for="categoryid") Danh mục cha
            select(
                name="categoryid"
                id="categoryid"
                class="form-control"
            )
                option(value="") -- Chọn danh mục --
                each item in categories 
                    option(value=item.CATEGORYID selected=(item.CATEGORYID==product.CATEGORYID?true:false)) #{item.TITLE}

        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="featured1"
                name="featured"
                value="1"
                checked
            )
            label(for="featured1" class="form-check-label") Nổi bật
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="featured0"
                name="featured"
                value="0"
            )
            label(for="featured0" class="form-check-label") Không

        div(class="form-group")
            lable(for="desc") Mô tả
            textarea(
                class="form-control"
                id="desc"
                name="description"
                rows="5"
            ) #{product.DESCRIPTION} 
        div(class="form-group")
            lable(for="price") Giá
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                value=product.PRICE
                min="0"
            )
        div(class="form-group")
            lable(for="discount") % Giảm giá
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discount"
                value=product.DISCOUNT*100
                min="0"
            )
        
        div(class="form-group")
            lable(for="quantity") Số lượng
            input(
                type="number"
                class="form-control"
                id="quantity"
                name="quantity"
                value=product.QUANTITY
                min="0"
            )

        div(class="form-group")
            lable(for="thumbnail") Ảnh
            input(
                type="text"
                class="form-control"
                id="thumbnail"
                name="thumbnail"
                value=product.THUMBNAIL
            )
            
        div(class="form-group")
            lable(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=product.POSITION
            )

        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="Active"
                checked = (product.STATUS=="Active"? true: false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động 
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="Inactive"
                checked = (product.STATUS=="Inactive"? true: false)
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật
