extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main 
    if(role.PERMISSION.includes("statistics_view"))
        +alert-success("3000")
        +alert-error("3000")

        .card.mb-3
            .card-body
                .row.content-right-statistical 
                    .filter
                        form( 
                            method="POST"
                            id='form-period'
                        ) 
                            select(id='period' name="period" required)
                                option(value="" selected=true) Period
                                option(value="day" selected=(search[0]=="day"?true:false)) Ngày
                                option(value="month" selected=(search[0]=="month"?true:false)) Tháng
                                option(value="year" selected=(search[0]=="year"?true:false)) Năm
                            if(search[0]=="day")
                                .form-day
                                    input#start-date(type="date" name="start_date" value=search[1])
                                    input#end-date(type="date" name="end_date" value=search[2])
                            else
                                .form-day(style="display: none;")
                                    input#start-date(type="date" name="start_date" )
                                    input#end-date(type="date" name="end_date")
                            if(search[0]=="month")
                                .form-month
                                    input#start-date(type="month" name="start_date" value=search[1])
                                    input#end-date(type="month" name="end_date" value=search[2])
                            else 
                                .form-month(style="display: none;")
                                    input#start-date(type="month" name="start_date" )
                                    input#end-date(type="month" name="end_date")   
                            if(search[0]=="year")
                                .form-year
                                    input#start-date(type="number" min=2020 max=2100 name="start_date" value=search[1])
                                    input#end-date(type="number" min=2020 max=2100 name="end_date" value=search[2])
                            else 
                                .form-year(style="display: none;")
                                    input#start-date(type="number" min=2020 max=2100 name="start_date" placeholder="Năm bắt đầu" )
                                    input#end-date(type="number" min=2020 max=2100 name="end_date" placeholder="Năm kết thúc")

                            button(type="submit") Áp dụng
                    .chart-container
                        if(data)
                            canvas#revenueChart

    script.
        const ctx = document.getElementById('revenueChart').getContext('2d');
        const data = !{JSON.stringify(data)};
        console.log("Data from backend:", !{JSON.stringify(data)});
        new Chart(ctx, {
            type: 'bar', // Hoặc 'line'
            data: {
                labels: data.map(item => item.NGAY), // Các mốc thời gian
                datasets: [{
                    label: 'Revenue (USD)',
                    data: data.map(item => item.TONG_SOTIEN), // Doanh thu tương ứng
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                }]
            },
            options: {
            scales: {
                x: { title: { display: true, text: 'Thời gian' } },
                y: { title: { display: true, text: 'Doanh thu' }, beginAtZero: true }
            }
            }
        });

    script(src="/admin/js/statistic.js")