extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main 
        //- if(role.permissions.includes("products_view"))
        +alert-success("3000")
        +alert-error("3000")

        .card.mb-3
            .card-header
                .row 
                    .col-10
                        if(order.FULLNAME)
                            p <b>Khách hàng: </b>#{order.FULLNAME}
                        if(order.PHONE)
                            p <b>Phone: </b>#{order.PHONE}
                        if(order.ADDRESS)
                            p <b>Địa chỉ: </b>#{order.ADDRESS}
                    .col-2
                            //- if(role.permissions.includes("products_create"))
                            if(order.STATUS=="Pending")
                                a(
                                    href=`${prefixAdmin}/orders/confirm`
                                    class="btn btn-outline-success"
                                ) 
                                    i.fa-solid.fa-play
                                    sapn  Xác nhận đơn hàng
                                a(
                                    href=`${prefixAdmin}/orders/canceled`
                                    class="btn btn-outline-danger"
                                ) 
                                    i.fa-solid.fa-xmark
                                    sapn  Hủy đơn hàng
            .card-body 
                table(class="table table-table-hover table-sm"
                    checkbox-multi
                    ) 
                    thead 
                        tr  
                            th.text-center STT
                            th.text-center Hình ảnh
                            th.text-center Tên món
                            th.text-center Giá
                            th.text-center Giảm giá
                            th.text-center Số lượng
                            th.text-center Tổng tiền
                    tbody 
                        each item, index in detailOrder
                            tr 
                                //- td #{pagination.limitItems *(pagination.currentPage-1)+index+1}
                                td.text-center #{index+1}
                                td.text-center
                                    img(
                                        src="/admin/images/avatar.png"
                                        alt="",
                                        width="50px"
                                        height="auto"
                                    )
                                td.text-center #{item.TITLE}
                                td.text-center #{item.PRICE}
                                td.text-center #{item.DISCOUNT*100}%
                                td.text-center #{item.QUANTITY}
                                td.text-center #{item.PRICE*(1-item.DISCOUNT)*item.QUANTITY}đ
                    tfoot
                        tr
                        td(class="text-right" colspan="6") Tổng tiền:
                        td.text-center #{detailOrder.reduce((acc, item) => acc + (item.PRICE * (1 - item.DISCOUNT) * item.QUANTITY), 0).toFixed(0)}đ
        script(src="/admin/js/product.js")