extends ../../layouts/default.pug

block main 
    h1(class="mb-4") Thông tin cá nhân 

    if(user.AVATAR)
        img(src=user.AVATAR width="150px" class="mb-3")
    else 
        img(src="/admin/images/avatar.png" width="150px" class="mb-3")

    if(user.FULLNAME)
        p Họ tên: <b>#{user.FULLNAME}</b>

    if(user.EMAIL)
        p Email: <b>#{user.EMAIL}</b>

    if(user.PHONE)
        p Số điện thoại: <b>#{user.PHONE}</b>
    
    p 
        span Trạng thái: 
        span    
            <b> #{user.STATUS==="Active"? "Hoạt động" : "Dừng hoạt động"}</b>

    //- if(role.title)
    //-     p Phân Quyền: <b>#{role.title}</b>

    a(
        href=`${prefixAdmin}/my-account/update`
        class="btn btn-primary"
    ) Chỉnh sửa thông tin