extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    if(role.PERMISSION.includes("roles_view"))
        +alert-success("3000")
        +alert-error("3000")
        .card.mb-3
            .card-header.text-center NHÓM QUYỀN
            .card-body 
                .row 
                    .col-10
                    .col-2
                        if(role.PERMISSION.includes("roles_create"))
                            a(
                                href=`${prefixAdmin}/roles/create`
                                class="btn btn-outline-success"

                            ) + Thêm mới

                table(class="table table-table-hover table-sm") 
                    thead 
                        tr  
                            th.text-center STT 
                            th.text-center Nhóm quyền
                            th.text-center Mô tả ngắn
                            th.text-center Hành động
                    tbody 
                        if(records.length > 0)
                            each item,index in records
                                tr  
                                    td.text-center #{index+1}
                                    td.text-center #{item.TITLE}
                                    td.text-center #{item.DESCRIPTION}
                                    td.text-center 
                                        if(role.PERMISSION.includes("roles_view"))
                                            a(
                                                href=`${prefixAdmin}/roles/detail/${item.ROLEID}`
                                                class="btn btn-secondary btn-sm"
                                            ) Chi tiết

                                        if(role.PERMISSION.includes("roles_update"))
                                            a(
                                                href=`${prefixAdmin}/roles/update/${item.ROLEID}`
                                                class="btn btn-warning btn-sm") Sửa
                                        if(role.PERMISSION.includes("roles_delete")) 
                                            button(class="btn btn-danger btn-sm ml-l"
                                                button-delete-item
                                                button-id=item.ROLEID
                                            ) Xóa
                        else 
                            tr  
                                td(colspan="4" class="text-center") Chưa có nhóm quyền nào được tạo
        form(
            action=""
            method='POST'
            id="form-delete-item"
            data-path=`${prefixAdmin}/roles/delete`
        )