extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    if(role.PERMISSION.includes("customers_create"))
        +alert-success(3000)
        +alert-error(3000)
        .card.mb-3
            .card-header.text-center Thêm mới khách hàng
            .card-body
                form(
                    action=`${prefixAdmin}/customers/create`
                    id="form-create-product"
                    method="POST"
                )
                    div(class="form-group")
                        lable(for="fullname") Họ Tên
                        input(
                            type="text"
                            class="form-control"
                            id="fullname"
                            name="fullname"
                            required
                        )
                    div(class="form-group")
                        lable(for="email") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                        )
                    div(class="form-group")
                        lable(for="phone") SĐT
                        input(
                            type="text"
                            class="form-control"
                            id="phone"
                            name="phone"
                        )

                    div(class="form-group")
                        lable(for="thumbnail") AVATAR
                        input(
                            type="text"
                            class="form-control"
                            id="thumbnail"
                            name="thumbnail"
                        )

                    div(class="form-group")
                        lable(for="password") Password
                        input(
                            type="text"
                            class="form-control"
                            id="password"
                            name="password"
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tạo mới
