extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(3000)
    .login-container
        h1 ADMIN
        p Lấy lại mật khẩu
        form(
            action=`${prefixAdmin}/auth/password/forgot`
            method="POST"
        )
            div(class="form-group")
                label(for="email") Email
                input(
                    type="email"
                    id="email"
                    name="email"
                    required
                )
            button.btn(type="submit") Gửi email xác nhận