extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(3000)

    .login-container
        h1 ADMIN
        p Nhập mã OTP xác thực
            form(
                action=`${prefixAdmin}/auth/password/otp`
                method="POST"
            )
                div(class="form-group")
                    label(for="email") Email
                    input(
                        type="email"
                        id="email"
                        name="email"
                        readonly
                        value=email
                    ) 
                div(class="form-group")
                    label(for="otp") Mã OTP
                    input(
                        type="Number"
                        id="otp"
                        name="otp"
                        required
                    ) 
                button(
                    type="submit"
                    class="btn"
                ) Xác nhận