extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(3000)

    .login-container
        h1 ADMIN
        p Đổi mật khẩu
            form(
                action=`${prefixAdmin}/auth/password/reset`
                method="POST"
            )
                div(class="form-group")
                    label(for="password") Mật khẩu mới
                    input(
                        type="password"
                        id="password"
                        name="password"
                        required
                    )
                div(class="form-group")
                    label(for="confirmPassword") Xác nhận mật khẩu
                    input(
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        required
                    )
                button(
                    type="submit"
                    class="btn"
                ) Đổi mật khẩu