extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    
    +alert-error(3000)
    +alert-success(3000)
    .row.mt-4 
        .col-12 
            .card.mb-4 
                .card-header Thông tin tài khoản
                .card-body.row
                    .col-4.text-center
                        if(user.AVATAR)
                            img(
                                src=user.AVATAR
                                style="height: 100px;margin-bottom: 15px;"
                            )
                    .col-8
                        if(user.FULLNAME)
                            p Họ tên: <b>#{user.FULLNAME}</b>
                        if(user.EMAIL)
                            p Email: <b>#{user.EMAIL}</b>
                        if(user.PHONE)
                            p Số điện thoại: <b>#{user.PHONE}</b>
                        //- if(user.title)
                        //-     p Phân quyền: <b>#{role.title}</b>
                        
        .col-6
            .card.mb-4
                .card-header Danh mục sản phẩm 
                .card-body
                    p Số lượng: <b>#{statistic.categoryProduct.total}</b>
                    p Hoạt động: <b>#{statistic.categoryProduct.active}</b>
                    p Dừng hoạt động: <b>#{statistic.categoryProduct.inactive}</b>
        
        .col-6
            .card.mb-4
                .card-header Sản phẩm 
                .card-body
                    p Số lượng: <b>#{statistic.product.total}</b>
                    p Hoạt động: <b>#{statistic.product.active}</b>
                    p Dừng hoạt động: <b>#{statistic.product.inactive}</b>
        
        .col-6
            .card.mb-4
                .card-header Tài khoản admin
                .card-body
                    p Số lượng: <b>#{statistic.account.total}</b>
                    p Hoạt động: <b>#{statistic.account.active}</b>
                    p Dừng hoạt động: <b>#{statistic.account.inactive}</b>
        
        .col-6
            .card.mb-4
                .card-header Tài khoản client
                .card-body
                    p Số lượng: <b>#{statistic.user.total}</b>
                    p Hoạt động: <b>#{statistic.user.active}</b>
                    p Dừng hoạt động: <b>#{statistic.user.inactive}</b>